.card{
  background-color: antiquewhite;
  border-radius: 2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin:  1em;
}

.img_baskets{
  height: 100px;
  padding: 1em;
}
.card_delete{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: brown;
  border-radius: 1.5em;
  width: 40px;
  height: 40px;
}
.minus_amount{
background-color: white;
border-radius: 50px;
width: 30px;
height: 30px;
margin: 10px;
}
.plus_amount{
  background-color: white;
  border-radius: 50px;
  width: 30px;
height: 30px;
margin: 10px;
}
.amount_coffee{
  display: flex;
}
.adPoitn{
  background-color: rgb(132, 223, 120);
  border-radius: 1em;
  padding: 1em;
  width: 200px;
 
}
.total{
  display: flex;
  justify-content: space-between;
  padding: 10px;
}